*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  margin: 0;
}

$breakpoints: (
  smallest: 200px,
  supersmall: 400px,
  small: 480px,
  smallmid: 600px,
  midsmall: 800px,
  midmedium: 1000px,
  medium: 1200px,
  midlarge: 1500px,
  large: 2000px,
);

@mixin mq($key) {
  $size: map-get($breakpoints, $key);
  @media (min-width: $size) {
    @content;
  }
}
